.title label{
    
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}
.content{
    border: 1px solid rgb(77, 74, 74);
    min-height: 25vh;
    margin: 2rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}
.comment{
    margin: 2rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}
.user-comment{
    border: 1px solid rgb(19, 17, 17);
    min-height: 2vh;
    margin: 1rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}
.username{
    font-size: 1.1rem;
    color: rgb(12, 104, 141);
}
.commenttext{
    margin-top: 5px;
    font-size: 0.9rem;
}
.right{
    text-align: right;
}
.edit{
    width: 7vw;
    margin: 1rem;
}
.delete{
    width: 7vw;
    margin: 1rem;
}
.opration {
    text-align: right;
}